<% content_for :title do %>
  <h6 class="brand-logo center valign-wrapper" style="font-size: 21px">Editing Partner</h6>
<% end %>

<%= render 'form', partner: @partner %>

<div class="container">
  <%= link_to "BACK", partners_path, class: "btn waves-effect waves-light white-text", style: "width: 100%"%>
</div>
