<% content_for :title do %>
  <h6 class="brand-logo center valign-wrapper" style="font-size: 19px">Editing Registration Form</h6>
<% end %>

<div class="row"></div>

<%= render 'form', registration_form: @registration_form %>

<div class="container">
  <div class="row">
  <%= link_to "BACK", registration_forms_path, class: "btn waves-effect waves-light white-text", style: "width: 100%"%>
  </div>
</div>
