<% content_for :title do %>
  <h6 class="brand-logo center valign-wrapper" style="font-size: 21px">Registration Forms</h6>
<% end %>

<%= render(
  partial: 'list',
  locals: { registration_forms: @registration_forms }
) %>