<div class="container"><h3 style="text-align: center">New Registration Form</h3><div>

<%= render 'form', registration_form: @registration_form %>

<%= link_to 'Back', registration_forms_path %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elem1 = document.getElementById('registration_form_partner_id');
    var elem2 = document.getElementById('registration_form_sport_type_id');
    M.FormSelect.init(elem1);
    M.FormSelect.init(elem2);
  });
</script>