<% content_for :title do %>
  <h6 class="brand-logo center valign-wrapper" style="font-size: 21px">New Sport Type</h6>
<% end %>

<%= render 'form', sport_type: @sport_type %>

<%= link_to 'Back', sport_types_path %>
